<p-panel header="Custom Pipes" class="p-1"><!-- para quitar espacio entre menubar y primer bloque de contenido -->
    <p>
        Custom Pipes - created by {{ 'us' | toggleCase: isUpperCase }}
    </p>
</p-panel>

<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button 
            label="ToggleCase" 
            icon="pi pi-search"
            (click)="toggleUpperCase()">
        </p-button>
    </div>
    
    <div class="p-toolbar-group-end">

        <p-button 
            class="mr-2" 
            label="Per name" 
            icon="pi pi-sort" 
            styleClass="p-button-success">
        </p-button>

        <p-button 
            class="mr-2" 
            label="Per flying" 
            icon="pi pi-sort" 
            styleClass="p-button-danger">
        </p-button>

        <p-button 
            class="mr-2" 
            label="Per color" 
            icon="pi pi-sort" 
            styleClass="p-button-danger">
        </p-button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col mt-2">
        <p-panel header="Heroes">
            <p-table [value]="heroes" [tableStyle]="{'min-width': '50 rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Fly</th>
                        <th>Color</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hero>
                    <tr>
                        <td>{{ hero.name }}</td>
                        <td>{{ hero.canFly }}</td>
                        <td>{{ hero.color }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>
</div>