<p-panel header="Custom Pipes" class="p-1"><!-- para quitar espacio entre menubar y primer bloque de contenido -->
    <p>
        Custom Pipes - created by {{ 'us' | toggleCase: true }}
    </p>
</p-panel>

<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button label="ToggleCase" icon="pi pi-search"></p-button>
    </div>
    
    <div class="p-toolbar-group-end">

        <p-button 
            class="mr-2" 
            label="Per name" 
            icon="pi pi-sort" 
            styleClass="p-button-success">
        </p-button>

        <p-button 
            class="mr-2" 
            label="Per flying" 
            icon="pi pi-sort" 
            styleClass="p-button-danger">
        </p-button>

        <p-button 
            class="mr-2" 
            label="Per color" 
            icon="pi pi-sort" 
            styleClass="p-button-danger">
        </p-button>
    </div>
</p-toolbar>