<div *ngIf="!country; else isLoading" 
    class="alert alert-info">
    Please wait...
</div>

<ng-template #isLoading>
    <div class="row">
        <div class="col-12">
            <h2>Country: <strong>{{ country[0].name.common }}</strong></h2>
            
            <hr>
        </div>  
    </div>
        
    <div class="row">
        <div class="col-4">
            <h3>Flag</h3>
            <img [src]="country[0].flags.png" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Information</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Population</strong> {{ country[0].population | number }}
                </li>
                
                <li class="list-group-item">
                    <strong>Código:</strong> {{country[0].cca2}} 
                </li>
            </ul>
        </div>
    </div>

    <h3 class="translation-txt">Translations</h3>
    <div class="row">   
        <div class="col">

            <span class="badge bg-primary m-1">{{country[0].translations['ara'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['bre'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['ces'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['cym'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['deu'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['est'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['fin'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['ita'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['kor'].common}}</span>
            <span class="badge bg-primary m-1">{{country[0].translations['per'].common}}</span>

        </div>
    </div> 

    <!-- <pre class="mt-5">
        {{ country | json }}
    </pre> -->

</ng-template>