<div *ngIf="!country; else loading" 
    class="alert alert-info">
    Please wait...
</div>

<ng-template #loading>
    <div class="row">
        <div class="col-12">
            <h2>Country: <strong>{{ country.name }}</strong></h2>
            <hr>
        </div>  
    </div>
        
    <div class="row">
        <div class="col-4">
            <h3>Flag</h3>
            <img [src]="country.flags" class="img-thumbnail">
        </div>

        <div class="col">
            <h3>Information</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Population</strong> {{ country.population | number }}
                </li>
                
                <li class="list-group-item">
                    <strong>Código:</strong> {{country.cca3}} 
                </li>
            </ul>
        </div>
    </div>

    <h3 class="translation-txt">Translations</h3>
    <div class="row">   
        <div class="col">

            <!-- <span class="badge bg-primary m-1">{{country.translations['ara'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['bre'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['ces'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['cym'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['deu'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['est'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['fin'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['ita'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['kor'].common}}</span>
            <span class="badge bg-primary m-1">{{country.translations['per'].common}}</span> -->

        </div>
    </div> 

    <pre class="mt-5">
        {{ country | json }}
    </pre>

</ng-template>