<div *ngIf="!country; else loading" 
    class="alert alert-info">
    Please wait...
</div>

<ng-template #loading>
    <div class="row">
        <div class="col-12">
            <h2>Country: <strong>{{ country.name.common }}</strong></h2>
            <hr>
        </div>  
        
        <div class="row">
            <div class="col-4">
                <h3>Flag</h3>
                <img [src]="country.flags.png" class="small-flag" alt="">
            </div>
        </div>
    </div>
</ng-template>