<h2>Searches</h2>
<hr>
<ul class="list-group"><!-- 
    routerlink: para conectar li a nuestro endpoint,
    routerLinkActive="active": para que aparezca el li/boton activo de la sección en la que nos encontramos
    [routerLinkActiveOptions]="{exact:true}" : para mostrar el color azul de activo sólo cuando coincida exactamente con " "
-->
    <li routerLink="" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        class="list-group-item sidebar-buttons">
        Search country
    </li>
    <li routerLink="capital"
    routerLinkActive="active"
    class="list-group-item sidebar-buttons">
    Per capital
    </li>
    <li routerLink="continent"
        routerLinkActive="active"
        class="list-group-item sidebar-buttons">
        Per continent
    </li>
</ul>